<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма ввода</title>
</head>
<body>
    <h1>Список элементов</h1>
    <hr>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <h2>Добавить элемент</h2>
    <form action="/" method="POST" enctype="multipart/form-data">
        <label for="id">ID:</label>
        <input type="text" name="id" required><br><br>

        <label for="file">Прикрепите файл (txt):</label>
        <input type="file" name="file" accept=".txt" required><br><br>

        <input type="submit" value="Отправить">
    </form>
</body>
</html>
